<div class="quiz-quiz">
    <div class="quiz-quiz__wrapper">
        <form method="post" action="/quiz/answer">
            <input type="hidden" id="questionId" name="questionId" value="{{ currentQuestion.id }}">
            <input type="hidden" id="answerId" name="answerId">
            <h2>{{ currentQuestion.question }}</h2>
            <div class="quiz-quiz__answers">
                {% for answer in currentQuestion.quizQuestionAnswers %}
                <div class="answer" id="answer-{{ answer.id }}" onclick="chooseAnswer({{ answer.id }})">
                    {{ answer.answer }}
                </div>
                {% endfor %}
            </div>
            <div class="progress-bar__wrapper" style="background-color: #efeff0">
                <div class="progress-bar" style="width: {{ currentPercentage }}%;"></div>
            </div>
            <input type="submit" value="Next question">
        </form>
    </div>
</div>

<script>
    function chooseAnswer(answerId) {
        const id = `answer-${answerId}`

        const divs = document.querySelectorAll('.answer');
        divs.forEach(function(div) {
            div.classList.remove('active');
        });

        document.getElementById('answerId').value = answerId;
        document.getElementById(id).classList.add('active');
    }
</script>